### Compile Dataset

In [141]:
import pandas as pd

In [87]:
#read file containing tweets from sentiment140 dataset
columns = ['sentiment','id','datetime','query','username','tweet']
df=pd.read_csv("csv files/training.1600000.processed.noemoticon.csv",names=columns,header=None,encoding = "ISO-8859-1")

In [88]:
df.head()

,sentiment,id,datetime,query,username,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [103]:
#extract rows with the specified keywords
data=df[df['tweet'].str.contains("emptiness|depressed|anxiety|depression")]
data=data[data["sentiment"]==0] #keep only negative(0) labels
data = data.reset_index(drop=True)

In [94]:
#remove all columns except lable and tweet 
tweet_data1=data.loc[:,["sentiment","tweet"]]

In [104]:
tweet_data.head()

   sentiment                                              tweet
0          0  Meh... Almost Lover is the exception... this t...
1          0  wonders why someone that u like so much can ma...
2          0  @gigdiary I know -  was a little depressed tha...
3          0  @Horrors_Wench Me toooooo! I feel like I've be...
4          0                Need's help with this anxiety crap

In [3]:
#read files extracted using twint tool
df1=pd.read_csv("csv files/depression.csv")
df2=pd.read_csv("csv files/depression1.csv")

In [4]:
#remove rows having web links in url column(The tweets are likely to be commercial)
data1=df1[df1["urls"]=="[]"]
data2=df2[df2["urls"]=="[]"]

In [5]:
#merge both frames
bigdata=pd.concat([data1,data2],ignore_index=True,sort=False)

In [25]:
#remove rows with mention realdonaldtrump
data3=bigdata[bigdata["mentions"]!="['realdonaldtrump']"]
data3.shape

(4829, 27)

In [ ]:
data3.to_csv('depression file.csv')

In [ ]:
#remove rows marked as p in column place(manually marked as essential tweets)
df3=pd.read_csv("depression file.csv")
filter_data=df3[df3["place"]=="p"]

In [ ]:
tweet_data2=filter_data.loc[:,["tweet"]]
tweet_data2.insert(0,"sentiment",0)#add classifier column

In [102]:
filter_data=pd.concat([tweet_data1,tweet_data2],ignore_index=True,sort=False)
filter_data.to_csv("negative.csv")

In [164]:
columns = ['sentiment','id','datetime','query','username','tweet']
dframe=pd.read_csv("csv files/training.1600000.processed.noemoticon.csv",names=columns,encoding = "ISO-8859-1")

In [165]:
dframe=dframe.sample(6000,random_state=8)
dframe=dframe.loc[:,["sentiment","tweet"]]
dframe = dframe.reset_index(drop=True) 
dframe.shape

(6000, 2)

In [167]:
dframe.sentiment.replace([0,4],1,inplace=True)

In [168]:
dframe.sentiment.value_counts()

1    6000
Name: sentiment, dtype: int64

In [169]:
comp_data=pd.concat([filter_data,dframe],ignore_index=True,sort=False)
comp_data.shape

(8072, 2)

In [172]:
comp_data.head()

   sentiment                                              tweet
0          0  Meh... Almost Lover is the exception... this t...
1          0  wonders why someone that u like so much can ma...
2          0  @gigdiary I know -  was a little depressed tha...
3          0  @Horrors_Wench Me toooooo! I feel like I've be...
4          0                Need's help with this anxiety crap

In [173]:
comp_data.to_csv("complete_dataset.csv")